<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact - My Portfolio</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<nav>
    <ul>
        <li><a th:href="@{/}">Home</a></li>
        <li><a th:href="@{/about}">About Me</a></li>
        <li><a th:href="@{/projects}">Projects</a></li>
        <li><a th:href="@{/contacts}">Contact</a></li>
    </ul>
</nav>
<main>
    <section class="contact">
        <h2>Contact Me</h2>
        <ul>
            <li>Email: 2022000011003@seu.edu.bd</li>
            <li>Phone: +880 1779195615</li>
            <li>LinkedIn: <a href="https://linkedin.com/in/mnislam01" target="_blank">mnislam01</a></li>
            <li>GitHub: <a href="https://github.com/mnislam01" target="_blank">mnislam01</a></li>
        </ul>
    </section>
</main>
</body>
</html>